form {

  fieldset:not(:last-child) {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #dddddd;

    legend {
      font-weight: 300;
    }
  }
}

label {
    font-weight: 300;
}

input[type="color"] {
    padding: 0 2px;
}
